<!--footer-->
<div class="footer">
  <div class="container">
    <div class="col-xs-4 footer-left">
      <h4>Adres</h4>
      <ul>
        <li>Eethuis Scharlo</li>
        <li>Scharlo 32</li>
        <li>1815 CP Alkmaar</li>
        <li>072 515 10 81</li>
      </ul>
    </div>
    <div class="col-xs-4 footer-left">
      <h4>Populaire</h4>
      <ul>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/menu'] ">Kapsalon</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/menu'] ">Broodjes</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/menu'] ">Turkse Pizza's & Durum</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/menu'] ">Schotels</a></li>
      </ul>
    </div>
    <div class="col-xs-4 footer-left">
      <h4>Nuttige links</h4>
      <ul>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/home'] ">Huis</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/menu'] ">Menu</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/winkelwagen'] ">Winkelwagen</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/contact'] ">Contact</a></li>
      </ul>
    </div>
    <div class="col-xs-12 footer-right rights">
      <p> © 2017 Eethuis Scharlo . Alle rechten voorbehouden</p>
      <div class="icons">
        <ul>
          <li><a href="https://www.facebook.com/Scharlo-food-1698619000390160/" class="twitter facebook"> </a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>