<!--footer-->
<div class="footer" itemscope="" itemtype="http://schema.org/Restaurant">
  <div class="container">
    <div class="col-xs-4 footer-left" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
      <h4>Adres</h4>
      <ul>
        <li itemprop="name">Eethuis Scharlo</li>
        <li itemprop="streetAddress">Scharlo 32</li>
        <li><span itemprop="postalCode">1815 CP</span><span itemprop="addressLocality"> Alkmaar</span></li>
        <li itemprop="telephone">072 515 10 81</li>
      </ul>
    </div>
    <div class="col-xs-4 footer-left">
      <h4>Populaire</h4>
      <ul>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/menu'] ">Kapsalon</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/menu'] ">Broodjes</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/menu'] ">Turkse Pizza's & Durum</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/menu'] ">Schotels</a></li>
      </ul>
    </div>
    <div class="col-xs-4 footer-left">
      <h4>Nuttige links</h4>
      <ul>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/home'] ">Huis</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/menu'] ">Menu</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/winkelwagen'] ">Winkelwagen</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]=" ['/contact'] ">Contact</a></li>
      </ul>
    </div>
    <div class="col-xs-12 footer-right rights">
      <p> © 2017 Eethuis Scharlo . Alle rechten voorbehouden</p>
      <div class="icons">
        <ul>
          <li><a href="https://www.facebook.com/Scharlo-food-1698619000390160/" class="twitter facebook"> </a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
  <meta itemprop="latitude" content="52.6355770">
  <meta itemprop="longitude" content="4.7382562">
</div>
<script type="application/ld+json">
	{
	"@context": "http://schema.org/",
	"@type": "Organization",
    "url" : "http://eethuisscharlo.nl",
			"logo": "/http://eethuisscharlo.nl/eethuis-scharlo.png",
			"sameAs": [
				"https://www.facebook.com/Scharlo-food-1698619000390160/"
				],
			"contactPoint": {
				"@type": "ContactPoint",
				"telephone": "+31 72 515 10 81",
				"contactType": "telefoonnummer"
				}
	}
</script>