.order-btn  {
  border: none;
  outline: none;
  color: #fff;
  padding: .5em 3.5em;
  font-size: 1em;
  margin: 0.5em 0 0 0;
  -webkit-appearance: none;
  background: #AEE3EF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}
button:hover {
  background: #4D4D4D;
  color: #FFF;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}