@font-face {
  font-family: 'Roboto-Regular';
  src: url('../app/assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OleoScript-Regular';
  src: url('../app/assets/fonts/OleoScript-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OleoScript-Bold';
  src: url('../app/assets/fonts/OleoScript-Bold.ttf') format('truetype');
}