<div class="menu row">
  <div class="col-md-3 left-side"></div>
  <div class="col-md-6">
    <div class="menu_category row">
      <div class="row">
        <div [hidden]="!selectedMenuList.length" class="category-name row">Winkelwagen</div>
        <div [hidden]="selectedMenuList.length" class="category-name row"> Winkelwagen is leeg</div>
        <ul class="category-content row list-unstyled">
          <li itemtype="http://schema.org/Product" *ngFor="let item of selectedMenuList">
            <div class="row meal-item">
              <div class="col-md-3">
                <div class="row meal-name">{{item.menuItem.name}}</div>
              </div>
              <div class="col-md-3">
                <div class="price"><b>Stukprijs</b> : € {{item.menuItem.price | number : '1.2-2'}}</div>
              </div>
              <div class="col-md-6" itemtype="http://schema.org/Offer">
                <div class="item-quantity-input col-md-3">
                  <input type="number" min="1"
                         (change)="getItemTotalPrice(item.menuItem,null)"
                         [(ngModel)]="item.menuItem.quantity" />
                </div>
                <div class="col-md-7">
                  <div class="raise-quantiy" title="Aantal verhogen" (click)="getItemTotalPrice(item.menuItem, true)">raise</div>
                  <div class="reduce-quantity" title="Verminder hoeveelheid" (click)="getItemTotalPrice(item.menuItem,false)">reduce</div>
                  <div class="remove-from-cart" title="Verwijderen" (click)="deleteMenu(item)">delete</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div [hidden]="!selectedMenuList.length" class="row">
        <div class="row" style="margin-left: 30px;margin-top: 20px; margin-bottom: 10px;">
          <div class="price col-md-5 order-section"><b>Totale orderprijs </b></div>
          <div class="col-md-4 order-section"><b>: € {{totalPrice | number : '1.2-2'}}</b></div>
      </div>
        <div class="row" style="margin-left: 30px; margin-bottom: 10px;">
          <div class="price col-md-5 order-section"><b>Korting </b></div>
          <div class="order-section col-md-4"><b>: 10%</b></div>
        </div>
        <div class="row" style="margin-left: 30px; margin-bottom: 10px;">
          <div class="col-md-5 discount"><b>Totale prijs na korting </b></div>
          <div class="col-md-3 discount"><b>: € {{discountPrice | number : '1.2-2'}}</b></div>
          <div class="col-md-3">
            <button (click)="staticModal.show()" class="order-btn">Bestel nu</button>
          </div>
        </div>
      </div>
    </div>
  <div class="col-md-3 right-side"></div>
</div>

  <!--<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>-->

  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: true}"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Klant informatie</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="mail-grids">
            <div class="contact-form">
              <form>
                <input type="text" placeholder="Naam" [(ngModel)]="menuOrder['customer']['name']" name="name">
                <input type="text" placeholder="Email" [(ngModel)]="menuOrder['customer']['email']" name="email">
                <input type="text" placeholder="Adres" [(ngModel)]="menuOrder['customer']['address']" name="address">
                <input type="number" placeholder="Telefoon" [(ngModel)]="menuOrder['customer']['telephone']" name="telephone">
                <textarea placeholder="Bericht" [(ngModel)]="menuOrder['customer']['comment']" name="comment"></textarea>
                <button (click)="orderMenus()" class="order-btn">Bestel nu</button>
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>